:root {
  --pri-color: #e4e4e4;
  --sec-color: #2d2d2d; 
  --ter-color: #213a4e;
  --sec-alt-color: #272727;
  --nav-height: 8vh;
  --main-height: calc(100vh - var(--nav-height));
}

* {
  padding: 0;
  margin: 0;
  color: var(--pri-color);
  box-sizing: border-box;
}

body {
  animation: fade-in 0.5s ease-in;
}

a {
  text-decoration: none;
}

@keyframes fade-in {
  from {opacity: 0.1}
  to {opacity: 1}
}